@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 10px;
  overflow: hidden;

}


.AutorContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  bottom: 15px;
  right: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgba(59, 58, 59, 0);
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.AutorContainer:hover {
  background-color: rgba(59, 58, 59, 0.75);
  transition: all 0.1s ease-in-out;
}

.AUTOR {
  font-size: 1.2rem;
  cursor: pointer;
  color: black;
  transition: all 0.1s ease-in-out;

}

.AutorContainer:hover .AUTOR {
  color: white;
  transition: all 0.1s ease-in-out;

}

#TT-BottomBtn,
#TT-SettingsObjectBtn,
#TT-CloseObjectBtn,
#TT-ListNote,
#TT-Calendar {
  font-size: 1.5rem;
  z-index: 100;
  opacity: 0.8;
  padding: 0.5rem;
  width: fit-content;
  height: fit-content;
}